extends base.pug

block content
    if errorMessage 
        span=errorMessage
    div.homeScreen

        div.intro 
            h2 내 지갑 서비스
            p 내 지갑 서비스에서는 블록체인 네트워크를 통해 발급된
            p 내 증명, 인증서 확인 및 관리, 다운로드 기능을 제공합니다.
            p 더 나아가 타 기관에서 발급한 증명, 인증서도 등록을 통해
            p V-ONE에서 한번에 관리가 가능합니다!
            button 바로 가기 ▶

        div.mainpic
            img(src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTlfMjEz/MDAxNjYwODM3NDY5NzA2.mnHQ0LRO0REy9l-rl4uvFO3764UfaHA-szErXPU86KYg.wX0bQc3h5w5XKLQ9kixAgUy9rK4uR1cuFw-pCvnyQcog.PNG.alswjdrms153/3E7C2590-1EC2-4D51-B543-F35CC664FEF0.png?type=w800")


            
             

    
    
    

