extends base

block content
    if errorMessage 
        span=errorMessage
    div.join
        h3 회원가입
        form(method="POST")
            div
                span 아이디
                input.id(name="id", type="text", required)
            div
                span 이름
                input(name="name", type="text", required)
            div
                span 비밀번호
                input(name="password", type="password")
            div.spDiv
                span 비밀번호 확인
                input(name="password2", type="password")
            p *숫자와 영문을 혼용하여 입력하세요(8자 이상)

            div
                span 이메일
                input(\type="text")
            div
                span 휴대폰 번호
                input(type="text", required)
            div
                span 인증번호 입력
                input(type="text", required)
            input.joinBtn(type="submit" value="회원가입")
