extends base
include ./mixins/cert

block content
    div.queryContainer
        div.query_header
            div.query_header_left
                h2 내 지갑 → 내 증명서 관리
                p 여러분의 증명서를 확인 및 다운로드할 수 있습니다.
                p 내가 등록한 증명서와 기관이 등록한 증명서는 구분되어 표시됩니다.
            div.query_header_right
                form(action="post") 
                    input(type="text", name="certHash")
                    i.fas.fa-search




        if errorMessage 
            span=errorMessage
        div.orgCert
            table 
                thead 
                    tr 
                        th 선택
                        th 만료일
                        th 소유주 아이디
                        th 발급 증명서
                        th 발급 기관
                        th 기타
                tbody 
                    tr 
                        td 
                        td 2024-08-31
                        td youngju307
                        td 재학증명서
                        td 아주대학교
                        td
                            span 세부 정보
                    tr 
                        td 
                        td 2024-08-31
                        td youngju307
                        td 졸업증명서
                        td 아주대학교
                        td
                            span 세부 정보






    
