// Config
@import "./config/reset";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";


// Screens

@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/home.scss";
@import "./screens/invoke.scss";
@import "./screens/query.scss";
@import "./screens/querySearch.scss";

// Defaults

body {
    background-color: #F5F5F5;
    
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

