header {
    background-color: #EBF5FB;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
}

.header_left {
    font-size: 50px;
    margin-left: 50px;
    color: black;
}

nav {
    margin-right: 60px;
    font-size: 20px;
    ul {
        display: flex;
        li{
            margin-left: 40px;
        }
    }
}

.userProfile {
    color: rgb(14, 218, 150);
    font-weight: 700;
    
   
}