mixin cert(cert)

    table 
        colgroup(span="5", class="columns")
        tr 
            th 
            th 2024-08-16
            th #{cert.owner}
            th #{cert.title}
            th 한국 표준 협회
            td 
                span 세부 정보


    