header
    div.header_left
        a(href="/")
            img(src="http://vone.kr/inc/img/common/img_logo.png", alt="")

    nav 
        ul
            if loggedIn 
                li 
                    a(href=`/users/${loggedInUser._id}/query`) #{loggedInUser.name}
                li 
                    a(href=`/users/${loggedInUser._id}/query`) 내 지갑
                li 
                    a(href=`/users/${loggedInUser._id}/invoke`) 증명서 추가하기

                li 
                    a(href="/join") 커리어 로드맵
                li 
                    a(href="/join") 입사지원
                li 
                    a(href="/logout") 로그아웃
            else
                
                li 

                    a(href="/login")
                        i.fas.fa-user-large
                        span 로그인
       
                li 

                    a(href="/join")
                        i.fab
                        span 회원 가입



       
                

